<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Layout</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand"
					href="https://github.com/ultraq/thymeleaf-layout-dialect">
					Product service </a>
				<ul class="nav">
				</ul>
			</div>
		</div>
		<h1 layout:fragment="header">product service</h1>
		<div layout:fragment="content">

			<div class="bs-example">
				<ul class="list-group">
					<tr th:each="product : ${products}">
						<li class="list-group-item">
							<p th:text="${product.id}" />
							<p th:text="${product.name}" />
							<p th:text="${product.price}" />
							<button th:id="${product.id}" type="button"
								class="btn btn-primary">Kup</button>
						</li>
					</tr>
				</ul>
			</div>
		</div>
	</div>
</body>
<input type="hidden" id="payurl" th:value="*{payurl}" />
<script type="text/javascript">

$(".btn-primary").click(function(btn){
	var payUrl = $( "#payurl" ).val();
	var id = btn.currentTarget.id;
	$.ajax({
		url : payUrl,
		type: 'GET',
		context : document.body,
		data : {"id" : id}
	}).done(function(response) {
		console.log(this);
		console.log(response);
		$( "#"+response ).remove();
	});
});
	
</script>

</html>